*{
    font-family: 'Montserrat', sans-serif;
}

.my{
    width: 700px;
    height: 750px;
    margin-left: 600px;
}

.title{
    font-size: 55px;
    text-align: center;
}

.text{
    font-size: 30px;
    margin-left:300px ;
    margin-right:300px;
}

.text1{
    margin-left: 100px;
}

.text2{
    margin-left: 900px;
    font-size: 30px;
}
